.business_header {
	padding: 0 10% 2rem 10%;
	display: grid;
	row-gap: 2rem;
	column-gap: 2rem;
	align-items: flex-start;
	color: rgb(255, 255, 255);
	border-bottom: 1px solid rgba(71, 85, 105, 1);

	@media screen and (max-width: 450px) {
		display: flex;
		flex-direction: column;
		padding-top: 1rem;
		row-gap: 1rem;
		width: auto;
		align-items: center;
	}

	@media (min-width: 450px) and (max-width: 769px) {
		display: grid;
		padding: 0 0 1.5rem 0;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		gap: 1rem 1rem;
		grid-template-areas:
			"business_logo business_title"
			"business-button business-button";
	}

	@media (min-width: 769px) and (max-width: 1024px) {
		margin: 2rem 0 0 0;
		display: grid;
		width: 100%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(2, 0.5fr);
		column-gap: 0;
		color: rgb(255, 255, 255);
	}
	.image_container,
	._image {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 1;
		grid-column-end: 3;

		display: flex;
		position: relative;
		height: 27vw;
		object-fit: cover;
		border-radius: 0.5rem;
		justify-content: center;
		width: 100%;

		@media (max-width: 769px) {
			grid-area: business_logo;
			align-self: center;
			height: auto;
			._image {
				display: none;
			}
		}

		@media (min-width: 769px) and (max-width: 1024px) {
			display: flex;
			border-radius: 0.5rem;
			justify-content: center;
		}

		._logo {
			top: 18vw;
			position: absolute;
			width: 14vw;
			// max-width: 200px;
			border: 0.2rem solid rgba(19, 19, 17, 1);
			border-radius: 100%;
			min-width: 50px;

			@media (max-width: 769px) {
				position: relative;
				width: 6rem;
				height: 6rem;
				top: 0;
			}

			@media (min-width: 769px) and (max-width: 1024px) {
				top: 18vw;
				position: absolute;
				width: max-content;
				height: max-content;
				max-width: 150px;
			}
		}
	}

	.title {
		margin-top: 2rem;
		color: rgb(255, 255, 255);
		grid-row-start: 2;
		grid-column-start: 1;
		grid-row-end: 3;
		grid-column-end: 2;
		min-width: 30vw;

		@media (max-width: 769px) {
			grid-area: business_title;
			width: auto;
		}

		@media (min-width: 769px) and (max-width: 1024px) {
			width: auto;
		}
		h1 {
			font-size: 1.4rem;
		}

		.opening_time {
			color: rgba(250, 197, 32, 1);
		}

		.description {
			margin-top: 1.125rem;
			opacity: 0.6;
		}
	}

	.buttons {
		grid-row-start: 2;
		grid-column-start: 2;
		grid-row-end: 3;
		grid-column-end: 3;

		margin-top: 1rem;
		display: flex;
		flex-direction: row;
		justify-content: center;
		color: #000000;
		@media screen and (max-width: 400px) {
			display: flex;
			flex-direction: column;
			margin: 0;
		}
		@media (min-width: 400px) and (max-width: 769px) {
			grid-area: business-button;
		}

		@media (min-width: 769px) and (max-width: 1024px) {
			width: auto;
			display: inline-flex;
			align-items: flex-end;
			flex-direction: column;
		}

		.notification {
			background: #fac520;
			border: 1px solid #fac520;
			transition: scale 0.2s ease;
		}

		.contact {
			color: #ffffff;
			border: 1px solid #ffffff;
			&:hover {
				border: 1px solid rgba(255, 255, 255, 0.4);
				background: rgba(255, 255, 255, 0.1);
				transition: background ease-out 0.2s;
				transition: border ease-in 0.2s;
				transition: scale 0.2s ease;
			}
		}
		.notification,
		.contact {
			min-width: 10rem;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 0.5rem;
			padding: 1rem 1.75rem;
			border-radius: 0.5rem;
			@media (min-width: 768px) and (max-width: 1024px) {
				margin-right: 0;
			}
		}
	}
}

.notification:hover,
.contact:hover {
	scale: 0.95;
}

.business_details {
	display: grid;
	margin: 3rem 0 3rem 0;
	padding: 0 10%;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"information time"
		"location location"
		"link link"
		"coupons coupons";
	row-gap: 2rem;
	column-gap: 2rem;

	@media (max-width: 950px) {
		display: flex;
		flex-direction: column;
		margin-top: 2rem;
		column-gap: 1rem;
		padding: 0;
	}

	.information,
	.opening_time_table,
	.location {
		border-radius: 0.75rem;
		background: rgba(255, 255, 255, 0.1);
		color: rgba(255, 255, 255, 0.7);
		padding: 1.4rem;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		iframe {
			height: 25rem;
			border: 0;
			border-radius: 0.75rem;
		}

		h2 {
			color: #ffffff;
			font-size: 1.5rem;
			padding-bottom: 1.5rem;
		}

		p {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding-bottom: 1.25rem;
			font-size: 1.125rem;
		}
	}

	.information {
		padding: 1.4rem;
		grid-area: information;
		height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		h2 {
			color: #ffffff;
			font-size: 1.5rem;
			padding-bottom: 1.5rem;
		}
		.react_icons {
			margin-right: 1.2rem;
			color: rgba(250, 197, 32, 1);
		}
	}

	.opening_time_table {
		grid-area: time;
		p {
			justify-content: space-between;
		}
	}
	.location {
		grid-area: location;
		.route {
			margin-top: 1rem;
			font-size: 1.125rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			a {
				color: #fac520;
			}
			@media (max-width: 768px) {
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
			}
		}
	}
	.website_link {
		grid-area: link;
		display: flex;
		flex-direction: column;
		border-radius: 12px;

		background: rgba(255, 255, 255, 0.1);
		color: rgba(255, 255, 255, 0.7);
		padding: 1.4rem;
		.item {
			display: flex;
			flex-direction: row;
			margin: 1rem 0 1rem 0;
			.logo {
				height: fit-content;
				border-radius: 50%;
			}
			div {
				display: flex;
				flex-direction: column;
				margin-left: 1rem;
				flex-wrap: wrap;

				h2 {
					color: #ffffff;
					font-size: 1.125rem;
				}
				a {
					color: rgba(255, 255, 255, 0.6);
					text-decoration: underline;
					word-break: break-all;
				}
				a:hover {
					color: #fac520;
				}
			}
		}
	}

	.coupons_container {
		grid-area: coupons;
		display: flex;
		flex-direction: column;
		border-radius: 12px;

		background: rgba(255, 255, 255, 0.1);
		color: rgba(255, 255, 255, 0.7);
		padding: 1.4rem;

		h2 {
			color: #ffffff;
			font-size: 1.5rem;
			padding-bottom: 1.5rem;
		}
		.list {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 2rem;
			@media (max-width: 700px) {
				display: flex;
				flex-direction: column;
			}
		}
	}

	.events_container {
		grid-area: coupons;
		display: flex;
		flex-direction: column;
		border-radius: 12px;

		background: rgba(255, 255, 255, 0.1);
		color: rgba(255, 255, 255, 0.7);
		padding: 1.4rem;

		h2 {
			color: #ffffff;
			font-size: 1.5rem;
			padding-bottom: 1.5rem;
		}
		.list {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 2rem;
			@media (max-width: 700px) {
				display: flex;
				flex-direction: column;
			}
		}
	}
}
