@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	/* border: 1px solid red; */
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

* {
	scrollbar-width: thin;
	scrollbar-color: #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

*::-webkit-scrollbar-track {
	border-radius: 0.625rem;
}

*::-webkit-scrollbar-thumb {
	background-color: #282825;
	border-radius: 0.625rem;
}

html,
body {
	max-width: 100vw;
}
body {
	background-color: #131311;
	overflow-x: hidden;
}
*::selection {
	background: #fac520;
	color: black;
}
