@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	/* border: 1px solid red; */
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
}
body {
	background-color: #131311;
}
*::selection {
	background: #fac520;
	color: black;
}
